#map { height: 100%; }

ion-menu{
  --background: #F5B027;
}

ion-button {
  --background: #F5B027;
  --background-hover: grey;
  --background-activated: #D49824;
  --background-focused: #D49824;

  --color: black;

  /* --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px; */

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: #D49824;

  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-segment {
  --background: #F5B027;
}

ion-segment-content{
  margin-top: 10px;
}

ion-col {
  background-color: #F5B027;;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}